[Desktop Entry]
Type=Application
Exec=deepin-terminal -e sh /opt/durapps/dde-dock-switch_graphics_card/NVIDIA.sh
GenericName=Switch NVIDIA
Name=Switch NVIDIA
MimeType=
GenericName[en]=Switch NVIDIA
GenericName[zh_CN]=切换 NVIDIA 显卡
Name[en]=Switch NVIDIA
Name[zh_CN]=切换 NVIDIA 显卡
X-Deepin-Vendor=user-custom
