[Desktop Entry]
Type=Application
Exec=/usr/bin/prime-run %u
GenericName=Run with prime-run
Name=Run with prime-run
MimeType=application/x-shellscript;application/x-sharedlib;application/x-executable;
GenericName[en]=Run with prime-run
GenericName[zh_CN]=使用 prime-run 运行
Name[en]=Run with prime-run
Name[zh_CN]=使用 prime-run 运行
X-DFM-MenuTypes=SingleFile
X-DFM-SupportSchemes=file
X-Deepin-Vendor=user-custom
