Package: dde-dock-graphics-plugin
Version: 1.8
Maintainer: zty199 <zty2864@gmail.com>
Section: utils
Source: https://github.com/mywhat/DDESwitchCard
Homepage: https://gitee.com/deepin-opensource/switch-graphics-card
Architecture: amd64
Priority: optional
Depends: mesa-utils, zenity, libnotify4
Conflicts: switch-graphics-card (<= 1.5)
Replaces: switch-graphics-card (<= 1.5)
Description: A simple dde-dock plugin for graphics card switch.

