<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>DeepinenEspañol</vendor>
  <vendor_url>https://github.com/deepin-espanol/dde-dock-graphics-plugin</vendor_url>
  <action id="com.deepin.pkexec.dde-dock-graphics-plugin.Intel">
    <message>Authentication is required to switch graphics card</message>
    <message xml:lang="es">Se requiere autenticación para cambiar de tarjeta gráfica</message>
    <message xml:lang="zh_CN">切换显卡需要输入密码</message>
    <icon_name>deepin-graphics-driver-manager</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/opt/apps/dde-dock-graphics-plugin/files/bin/Intel.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
  <action id="com.deepin.pkexec.dde-dock-graphics-plugin.NVIDIA">
    <message>Authentication is required to switch graphics card</message>
    <message xml:lang="es">Se requiere autenticación para cambiar de tarjeta gráfica</message>
    <message xml:lang="zh_CN">切换显卡需要输入密码</message>
    <icon_name>deepin-graphics-driver-manager</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/opt/apps/dde-dock-graphics-plugin/files/bin/NVIDIA.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
