Source: dde-dock-graphics-plugin
Maintainer: zty199 <zty2864@gmail.com>
Section: utils
Priority: optional
Build-Depends:
 cmake,
 debhelper (>= 9),
 qtchooser (>= 55-gc9562a1-1~),
 qt6-base-dev,
 qt6-tools-dev,
 qt6-svg-dev,
 libdtk6core-dev,
 libdtk6widget-dev,
 dde-dock-dev
Standards-Version: 2.0.0
Homepage: https://github.com/zty199/dde-dock-switch_graphics_card


Package: dde-dock-graphics-plugin
Architecture: any
Depends:${shlibs:Depends}, ${misc:Depends},
 libqt6svg6,
 dde-control-center (>= 6.0.0.1),
 dde-shell (>= 0.0.6),
 dde-application-manager (>= 0.1.0),
 mesa-utils,
 pkexec,
 zenity
Conflicts: switch-graphics-card (<= 1.5)
Replaces: switch-graphics-card (<= 1.5)
Description: DDE Dock Graphics Plugin
 A simple dde-dock plugin for graphics card switch.
