Source: dde-dock-graphics-plugin
Maintainer: zty199 <zty2864@gmail.com>
Section: utils
Priority: optional
Build-Depends:
 cmake,
 debhelper (>= 9),
 libqt5core5a,
 libqt5gui5,
 libqt5widgets5,
 libqt5dbus5,
 libdtkcore-dev,
 libdtkgui-dev,
 libdtkwidget-dev,
 libdframeworkdbus-dev,
 libgsettings-qt-dev,
 pkg-config,
 qtchooser (>= 55-gc9562a1-1~),
 qttools5-dev
Standards-Version: 1.6.0
Homepage: https://github.com/zty199/dde-dock-switch_graphics_card


Package: dde-dock-graphics-plugin
Architecture: any
Depends:${shlibs:Depends}, ${misc:Depends},
 dde-control-center,
 dde-dock,
 libqt5core5a,
 libqt5gui5,
 libqt5widgets5,
 libqt5dbus5,
 libdtkwidget5,
 libdtkcore5,
 libdtkgui5,
 libdtkwidget5,
 libdframeworkdbus2,
 libgsettings-qt1,
 mesa-utils,
 zenity,
 libnotify4
Conflicts: switch-graphics-card (<= 1.5)
Replaces: switch-graphics-card (<= 1.5)
Description: DDE Dock Graphics Plugin
 A simple dde-dock plugin for graphics card switch.
